<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<ul>
	<li>/api/signup POST {"username" : "Jacob_amv", "password" : "qwerty123", "name" : "Jacob", "email" : "jacob.akhmedov@gmail.com", "phone" : "+992928560139"} </li>
	<li> /api/signin POST {"username" : "Jacob_amv", "password" : "qwerty123"} </li>
	<li> /api/checktoken POST {"username" : "Jacob_amv", 'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1OTIzNzYxMjIsIm5iZiI6MTU5MjM3NjEyMiwianRpIjoiNTA4ZT'}</li>
	<li> /api/createpost POST {	"username" : "Jacob_amv", 	"content" : "Jacob luchshiy backend proger",
	"hasfile" : True, "file" = ?, "title" : "Jacob luchshiy backend proger"}</li>
	<li> /api/createcomment POST { "postid" : 1,	"ownerid" : 2,	"content" : "Jacob luchshiy proger", "ownerusername" : "Jacob_amv"	}</li>
	<li> /api/getposts GET { "username" : 'Jacob_amv' }</li>
	<li> /api/post/like POST { "postid" : 1 }</li>
	<li> /api/post/dislike POST { "postid" : 1 }</li>
	<li> /api/comment/like POST { "comid" : 1 }</li>
	<li> /api/comment/dislike POST { "comid" : 1 }</li>
	<li> /api/getfriends GET {"username" : "Jacob_amv"} </li>
	<li> /api/newrel POST {"who" : "Jacob_am",	"with" : "Jacob_amv"}</li>
	<li> /api/gethost GET</li>
	</ul>
</body>
</html>